# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Data files
data/
database/
*.csv

# Frontend
frontend-temp/node_modules/
frontend-temp/dist/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db